* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 44px;
  min-height: 100%;
  font-size: 26px;
  background: #112233;
}

.container-employee {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 94px;
  font-size: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6f6f6f;
}

#form-employee,
.card-employee {
  background-color: white;
}

#form-employee {
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 592px;
  padding: 60px;
  gap: 20px;
  border-radius: 4px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

input,
label {
  width: 100%;
}

input {
  padding: 12px;
  height: 48px;
  border-radius: 4px;
  border: 1px solid #3f3f3f;
}

input::placeholder {
  word-spacing: 2px;
}

.btn-create {
  margin-top: 10px;
  height: 70px;
  font-size: 20px;
  font-weight: 600;
  background-color: #1f27f5;
  color: white;
  border-radius: 4px;
}

.card-employee {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 456px;
  height: 470px;
  padding: 60px;
  border-radius: 4px;
}

.info-employee {
  font-size: 28px;
  font-weight: bold;
  color: #1c1c1c;
  margin-top: 8px;
}
